@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

body {
	font-family: "Open Sans", Helvetica, sans-serif;
	margin: 0;
}


#headNav {
	width: 100%;
	height: 60px;
	color: #DDD;
	background-color: #262626;
	position: absolute;
	z-index: 5;
}

#headNav h1 {
	line-height: 60px;
	margin: 0;
	text-align: center;

}

#headNav h1:first-child span:first-child {
	color: #88E;
}

#ulNav {
	display: inline;
	position: absolute;
	right: 30px;
	top: 0px;
	font-size: 18px;
	margin: 0;
}

#ulNav li {
	display: inline;
	line-height: 60px;
	padding: 0 7px;
}

#headNav a, #blurb a {
	color: #CCC;
	text-decoration: none;
	transition: all .3s;
	-webkit-transition: all .3s;
}

#ulNav li a:hover, #blurb a:hover {
	color: #AAA;
}

#contentBG {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../assets/home.jpg);
	background-size: cover;
}

#content {
	padding-top: 60px;
}

#blurb {
	padding-top: 15%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #DDD;
	font-size: 30px;
}

#mainIdeaField {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	color: #222;
	font-size: 24px;
	padding: 4px;
	height: 100px;
	background-color: white;
	text-align: left;
}

#mainSubmitButton {
	background-color: rgba(26, 26, 26, 0.7);
	padding: 5px 10px;
}

.ideaBoxTemplate {
	background-color: white;
	color: #222;
	padding: 7px;
	width: 350px;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	margin: 10px;
	display: inline-block;
}

.ideaBoxTemplate p {
	margin: 0;
}

.ideaBoxTemplate .author, .ideaBoxTemplate .stats, .ideaBoxTemplate a {
	font-size: 14px;
	color: #888 !important;
}

.ideaBoxTemplate hr {
	width: 60%;
}

.ideaBoxTemplate .favorites, .ideaBoxTemplate .comments, .ideaBoxTemplate .implementations {
	padding-left: 3px;
	padding-right: 20px;
}

.noShow {
	display: none !important;
}

/* Browse section css styles*/
#browse {
	position: absolute;
}

#browseFilters {
	width: 100%;
	background-color: #88E;
	margin-top: 0;
}

#browseFilters h1{
	text-align: center;
	margin: 0;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#browseFilters div {
	padding: 0.5em;
	color: black;
	margin: 10px;
	display: inline-block;
}

#browseFilters div:hover{
	background-color: #DDD;
}

#searchTags, #searchAuthor {
	background: #FFF;
}

/* Below here is drop down menu css */
#sortSearch {
	margin: 0;
}

#sortSearch ul ul {
	display: none;
}

#sortSearch ul li:hover > ul {
	display: block;	
}

#sortSearch ul {
	-webkit-padding-start: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	text-align: center;
	list-style: none;
	position: relative;
	display: inline-table;
}

#sortSearch ul li ul {
	padding: 0 ;
}
#sortSearch ul:after {
	content: ""; 
	clear: both; 
	display: block;
}

#sortSearch ul li {
	margin: 10px;
}

#sortSearch ul:hover {
	background-color: #DDD;
}



#sortSearch ul ul {
	color: black;
	background: #DDD;
	position: absolute;
}


#sortSearch ul ul li {
	text-align: center;
	color: #000000;
}	

#sortSearch ul ul li:hover{ 
	background: #4b545f;
}

/* End magic that runs the drop down menu */